.container__main {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  min-height: 100%;
}
.container__ins {
  max-width: 1186px;
  min-width: 320px;
  padding: 0 20px 1px;
  margin: 0 auto;
}
.container__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container__column {
  border-top: 2px solid #F9F7F6;
}
.container__column_50 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}
.container__column_50:first-child {
  padding-right: 30px;
}
.container__column_50:last-child {
  padding-left: 30px;
}

/* media */
@media (max-width: 767px) {
  .container__column_50 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .container__column_50:first-child {
    padding-right: 0;
  }
  .container__column_50:last-child {
    padding-left: 0;
  }
}
