<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="i/icon" type="image/x-icon">
    <link href="styles/about-page.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="container__main">
      <header class="page-header">
        <div class="page-header__wrap">   <a class="page-header__logo" href="#">Sudzibas.lv</a>
          <div class="page-header__search"><span class="page-header__search-loupe"></span>
            <form class="page-header__search-wrap" method="POST" action="">
              <input class="page-header__search-input" type="text" placeholder="Search something..">
              <button class="page-header__search-btn" type="submit"></button>
            </form>
          </div>
          <div class="page-header__lang">
            <div class="page-header__lang-wrap">
              <div class="page-header__lang-box"><span class="page-header__lang-flag page-header__lang-flag_lv">LV</span></div>
              <ul class="page-header__lang-dropdown">
                <li class="page-header__lang-item"><a class="page-header__lang-flag page-header__lang-flag_lv" href="">LV</a></li>
                <li class="page-header__lang-item"><a class="page-header__lang-flag page-header__lang-flag_ru" href="">RU</a></li>
              </ul>
            </div>
          </div><a class="page-header__add-complain" href="">Add a Complain</a>
          <ul class="page-header__menu">
            <li class="page-header__menu-item"><a class="page-header__menu-link" href="">Question</a></li>
            <li class="page-header__menu-item page-header__menu-item_dropdown"><a class="page-header__menu-link" href="">Help</a>
              <ul class="page-header__menu-dropdown">
                <li class="page-header__menu-d-item"><a class="page-header__menu-d-link page-header__menu-d-link_about" href="">About us</a></li>
                <li class="page-header__menu-d-item"><a class="page-header__menu-d-link page-header__menu-d-link_links" href="">Category links</a></li>
                <li class="page-header__menu-d-item"><a class="page-header__menu-d-link page-header__menu-d-link_faq" href="">Часто задаваемые вопросы </a></li>
                <li class="page-header__menu-d-item"><a class="page-header__menu-d-link page-header__menu-d-link_flame" href="">Как разрешить жалобу</a></li>
                <li class="page-header__menu-d-item"><a class="page-header__menu-d-link page-header__menu-d-link_info" href="">Правила использования</a></li>
                <li class="page-header__menu-d-item"><a class="page-header__menu-d-link page-header__menu-d-link_info" href="">Правила обработки персональных данных</a></li>
                <li class="page-header__menu-d-item"><a class="page-header__menu-d-link page-header__menu-d-link_info" href="">Правила обработки файлов cookie</a></li>
                <li class="page-header__menu-d-item"><a class="page-header__menu-d-link page-header__menu-d-link_help" href="">Связаться с нами</a></li>
              </ul>
            </li>
          </ul>
          <div class="header-profile">
            <div class="header-profile__row header-profile__row_main">
              <div class="header-profile__avatar"><span class="header-profile__status"></span></div>
              <div class="header-profile__subname">Account</div>
            </div>
            <div class="header-profile__dropdown header-profile__dropdown_msg">
              <div class="header-profile__message"><a class="header-profile__message-link" href="">Jums ir 8 jauni zinojumi!</a><span class="header-profile__btn-close"></span></div>
            </div>
          </div>
          <div class="page-header__btn-burger"></div>
        </div>
        <div class="page-header__mob-dropdown">
          <ul class="page-header__navi">
            <li class="page-header__navi-item"><a class="page-header__navi-link page-header__navi-link_question" href="">Question</a></li>
            <li class="page-header__navi-item"><a class="page-header__navi-link page-header__navi-link_headphone page-header__navi-link_arrow" href="">Help</a>
              <ul class="page-header__navi-dropdown">
                <li class="page-header__navi-dropdown-item"><a class="page-header__navi-link page-header__navi-link_faq" href="">Часто задаваемые вопросы </a></li>
                <li class="page-header__navi-dropdown-item"><a class="page-header__navi-link page-header__navi-link_flame" href="">Как разрешить жалобу</a></li>
                <li class="page-header__navi-dropdown-item"><a class="page-header__navi-link page-header__navi-link_info" href="">Правила использования</a></li>
                <li class="page-header__navi-dropdown-item"><a class="page-header__navi-link page-header__navi-link_info" href="">Правила обработки персональных данных</a></li>
                <li class="page-header__navi-dropdown-item"><a class="page-header__navi-link page-header__navi-link_info" href="">Правила обработки файлов cookie</a></li>
                <li class="page-header__navi-dropdown-item"><a class="page-header__navi-link page-header__navi-link_help" href="">Связаться с нами</a></li>
              </ul>
            </li>
            <li class="page-header__navi-item"><a class="page-header__navi-link page-header__navi-link_about" href="">About us</a></li>
            <li class="page-header__navi-item"><a class="page-header__navi-link page-header__navi-link_links" href="">Category links</a></li>
            <li class="page-header__navi-item"><a class="page-header__navi-link page-header__navi-link_account page-header__navi-link_arrow page-header__navi-link_arrow-brown" href="">Account</a>
              <div class="page-header__navi-dropdown page-header__navi-dropdown_no-padd">
                <div class="header-profile__dropdown-mobile header-profile__dropdown-mobile_msg">
                  <div class="header-profile__message"><a class="header-profile__message-link" href="">Jums ir 8 jauni zinojumi!</a><span class="header-profile__btn-close"></span></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </header>
      <footer class="page-footer">
        <div class="page-footer__ins">
          <div class="page-footer__wrap">
            <div class="page-footer__column">
              <div class="page-footer__logo">Sudzibas.lv</div>
            </div>
            <ul class="page-footer__navi">
              <li class="page-footer__navi-item"><span class="page-footer__navi-title">HOME</span></li>
              <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Homepage    </a></li>
              <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Add a complaint</a></li>
              <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">List of companies</a></li>
            </ul>
            <ul class="page-footer__navi">
              <li class="page-footer__navi-item"><span class="page-footer__navi-title">ADDITIONAL</span></li>
              <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Terms of Use    </a></li>
              <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Terms of Use of cookies</a></li>
              <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Terms of Use</a></li>
            </ul>
            <ul class="page-footer__navi">
              <li class="page-footer__navi-item"><span class="page-footer__navi-title">FAQ’s</span></li>
              <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Frequently ask questions    </a></li>
              <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">How to resolve a complaint</a></li>
              <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Contact us</a></li>
            </ul>
            <div class="page-footer__column">
              <ul class="social-block">
                <li class="social-block__item"><a class="social-block__btn social-block__btn_fb" href=""></a></li>
                <li class="social-block__item"><a class="social-block__btn social-block__btn social-block__btn_tw" href=""></a></li>
                <li class="social-block__item"><a class="social-block__btn social-block__btn_soc" href="">  </a></li>
              </ul>
            </div>
          </div>
          <div class="page-footer__copyright">© 2007-2021 Sūdzības.lv</div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>