section.contacts
    .contacts__title Contact us
    
    h4.contacts__name MEX GROUP LTD.
    
    address.contacts__addr 
        strong.contacts__subtitle Address :
        | Jubileynaja 48, g / p Lubcha, Grodnenskaya oblast,<br />
        | 231425, Belarus
         
    .contacts__map#mapid
        

        
                    
                
