
footer.footer-page
    .footer-page__ins
        .footer-page__wrap
            .footer-page__column
                .footer-page__logo Sudzibas.lv
                    
            ul.footer-page__navi
                li.footer-page__navi-item
                    span.footer-page__navi-title HOME
                li.footer-page__navi-item
                    a.footer-page__navi-link(href="#") Homepage    
                li.footer-page__navi-item
                    a.footer-page__navi-link(href="#") Add a complaint
                li.footer-page__navi-item
                    a.footer-page__navi-link(href="#") List of companies
                        
            ul.footer-page__navi
                li.footer-page__navi-item
                    span.footer-page__navi-title ADDITIONAL
                li.footer-page__navi-item
                    a.footer-page__navi-link(href="#") Terms of Use    
                li.footer-page__navi-item
                    a.footer-page__navi-link(href="#") Terms of Use of cookies
                li.footer-page__navi-item
                    a.footer-page__navi-link(href="#") Terms of Use
                        
            ul.footer-page__navi
                li.footer-page__navi-item
                    span.footer-page__navi-title FAQ’s
                li.footer-page__navi-item
                    a.footer-page__navi-link(href="#") Frequently ask questions    
                li.footer-page__navi-item
                    a.footer-page__navi-link(href="#") How to resolve a complaint
                li.footer-page__navi-item
                    a.footer-page__navi-link(href="#") Contact us
            
            .footer-page__column
                ul.social-block
                    li.social-block__item
                        a.social-block__btn.social-block__btn_fb(href="")
                    li.social-block__item
                        a.social-block__btn.social-block__btn.social-block__btn_tw(href="")
                    li.social-block__item
                        a.social-block__btn.social-block__btn_soc(href="")   
                
        .footer-page__copyright © 2007-2021 Sūdzības.lv
