section.our-works
    .container__ins.our-works__ins
        .our-works__wrap
            h2.our-works__title Our works
            
            .our-works__text From first began untill now. We have already help more than 100,000 people to give them solve their problem. We want to still commit with our mission to help more people again and again.
        
        mixin our-works__item(classname, title, text)
            a.our-works__item(href="" class= classname)
                span.our-works__box 
                    span.our-works__icon
                span.our-works__column
                    span.our-works__subtitle= title
                    span.our-works__description= text
                        
                span.our-works__arrow
        +our-works__item("our-works_fast", "Fast assistance", "Assistance was provided to more than 100,000 consumers. Thanks to our work, they were able to receive a warning about the companies and publish their own complaints as simply and quickly as possible, in less than 2 minutes per complaint.")
        +our-works__item("our-works_easy", "Easy search", "Address search, registration and sending - our job. On our complaint platform, you can use a thousand (1000!) or more pre-prepared company profiles.")
        +our-works__item("our-works_stay", "Stay up-to-date", "We will inform the interested company about your complaint and its publication on the Internet. Public pressure is unpleasant for companies, but it is legal and effective. The relevant companies are forced to respond almost immediately, which leads to a large number of responses to complaints about sudzibas.lv.")
            
                
