section.reviews
    .container__ins
        .reviews__slider
            mixin slide
                div.reviews__box
                    .reviews__item
                        .reviews__text Sudzibas.lv has brought an efficient customer support service no matter how many requests our team may had allowing us to solve many issues of each client in a personalized way through out different options of communication channels.
                            
                        .reviews__row
                            .reviews__ava(style="background: url(i/content/avatar.jpg) center no-repeat; background-size: cover;")
                            .reviews__column
                                .reviews__name Igor Akinfeev
                                .reviews__title VP of Product at B Company
                                
                        a.reviews__arrow(href="")
                            
            div.reviews__box
                .reviews__item
                    .reviews__text Sudzibas.lv has brought an efficient customer support service no matter how many requests our team may had
                        
                    .reviews__row
                        .reviews__ava(style="background: url(i/content/avatar.jpg) center no-repeat; background-size: cover;")
                        .reviews__column
                            .reviews__name Igor Akinfeev
                            .reviews__title VP of Product at B Company
                            
                    a.reviews__arrow(href="")
            +slide
            +slide
            +slide

        
                    
                
