section.reviews
    .container__ins
        .reviews__slider
            mixin slide
                div.review__box
                    .review__item
                        .review__text Sudzibas.lv has brought an efficient customer support service no matter how many requests our team may had allowing us to solve many issues of each client in a personalized way through out different options of communication channels.
                            
                        .review__row
                            .review__ava(style="background: url(i/content/avatar.jpg) center no-repeat; background-size: cover;")
                            .review__column
                                .review__name Igor Akinfeev
                                .review__title VP of Product at B Company
                                
                        a.review__arrow(href="")
                            
            div.review__box
                .review__item
                    .review__text Sudzibas.lv has brought an efficient customer support service no matter how many requests our team may had
                        
                    .review__row
                        .review__ava(style="background: url(i/content/avatar.jpg) center no-repeat; background-size: cover;")
                        .review__column
                            .review__name Igor Akinfeev
                            .review__title VP of Product at B Company
                            
                    a.review__arrow(href="")
            +slide
            +slide
            +slide

        
                    
                
