section.stats
    .container__ins
        .stats__wrap
            .stats__column
                .stats__text OUR STATS
                
                h2.stats__title Sudzibas <br /> on a number
                
                .stats__row
                    .stats__item
                        .stats__num 200k
                        .stats__descr Number of user
                            
                    .stats__item
                        .stats__num &lt;10k
                        .stats__descr Number of complaint
                            
                .stats__row
                    .stats__item
                        .stats__num +64k
                        .stats__descr Number of <br />allowed items
                            
                    .stats__item
                        .stats__num 58k
                        .stats__descr Number of <br /> enterprises
                                
                    .stats__item
                        .stats__num 5+
                        .stats__descr Number of<br /> years
            figure.stats__picture 
                img.stats__picture-img(src="i/stats.png" alt="")
        
        
                    
                
