.footer-page {
    position: relative;
    background: #E6E6E6;
    padding: 39px 0 1px;
    z-index: 9;

    &__ins {
        max-width: 1186px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__copyright {
        text-align: center;
        font-size: 14px;
        color: rgba(48, 45, 42, 0.5);
        line-height: 1.15;
        padding: 28px 0;
    }

    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 2px solid #D1D1D1;
        padding-bottom: 1px;
    }

    &__logo {
        padding-left: 38px;
        font-weight: 600;
        color: #302D2A;
        font-size: 18px;
        line-height: 1.2;
        flex-shrink: 0;
        font-family: 'Inter', sans-serif;
        position: relative;
        display: inline-block;
        vertical-align: middle;

        &:before {
            content: "";
            position: absolute;
            left: 2px;
            top: 50%;
            margin-top: -14px;
            width: 28px;
            height: 28px;
            background: url(../../i/logo.svg) no-repeat;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__navi {
        margin: 0 0 24px;
        list-style-type: none;
        font-family: 'Roboto', sans-serif;

        &-item {
            margin-bottom: 12px;
        }

        &-title {
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            color: rgba(48, 45, 42, 0.3);
            letter-spacing: 2px;
            padding-bottom: 4px;
            display: block;
        }

        &-link {
            color: #302D2A;
            line-height: 1.2;
        }
    }
}

@media (min-width: 1025px) {
    .footer-page {

    }
}

@media (max-width: 767px) {
    .footer-page {
        padding-top: 26px;

        &__wrap {
            flex-wrap: wrap;
        }

        &__navi {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        &__column {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        &__logo {
            margin: 0 auto 37px;
            width: 140px;
            display: block;
        }

        &__copyright {
            padding: 23px 0;
        }
    }
}

@media (max-width: 568px) {
    .footer-page {
        &__navi {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;

            &:last-child {
                margin-bottom: 29px;
            }
        }
    }
}
