.our-team {
    padding: 100px 0;

    &__title {
        font-weight: 600;
        font-size: 46px;
        line-height: 1.2;
        color: #302D2A;
        margin: 0 0 48px;
        font-family: 'Inter', sans-serif;
    }

    &__text {
        font-size: 15px;
        color: #666666;
        line-height: 1.5;
        font-family: 'Roboto', sans-serif;
        margin: 0 0 26px;
    }

    &__img {
        max-width: 100%;
        height: auto;
        display: block;
        min-width: 0;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .our-team {}
}

@media (max-width: 768px) {
    .our-team {
        padding: 63px 0 30px;

        &__title {
            font-size: 30px;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 17px;
        }

        &__text {
            font-size: 14px;
            text-align: center;
            margin-bottom: 32px;
        }
    }
}
