.social-block {
    margin-bottom: 14px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        padding: 0 8px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__btn {
        width: 28px;
        height: 28px;
        display: block;
        position: relative;

        &_fb {
            background: url("data:image/svg+xml,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='12.25' fill='url(%23paint0_linear)'/%3E%3Cpath d='M18.562 17.746l.544-3.457h-3.404v-2.243c0-.946.475-1.869 2-1.869h1.548V7.234S17.845 7 16.503 7c-2.805 0-4.636 1.656-4.636 4.654v2.635H8.75v3.457h3.117v8.36a12.66 12.66 0 001.917.144c.652 0 1.292-.049 1.918-.145v-8.359h2.86z' fill='%23fff'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='14' y1='1.75' x2='14' y2='26.177' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2318ACFE'/%3E%3Cstop offset='1' stop-color='%230163E0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") center no-repeat;
        }

        &_tw {
            background: url("data:image/svg+xml,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 14C0 6.268 6.268 0 14 0s14 6.268 14 14-6.268 14-14 14S0 21.732 0 14z' fill='%2355ACEE'/%3E%3Cpath d='M13.58 11.38l.03.484-.49-.06c-1.782-.226-3.339-.998-4.66-2.293l-.647-.642-.167.474c-.352 1.058-.127 2.175.607 2.927.392.415.304.474-.372.227-.235-.08-.44-.139-.46-.109-.068.07.167.969.353 1.325.254.494.773.979 1.341 1.265l.48.228-.568.01c-.548 0-.568.01-.51.217.197.643.97 1.325 1.832 1.622l.607.207-.529.316a5.513 5.513 0 01-2.624.732c-.44.01-.803.05-.803.08 0 .098 1.195.652 1.89.87 2.086.642 4.563.365 6.424-.732 1.322-.781 2.644-2.334 3.261-3.836.333-.801.666-2.264.666-2.966 0-.455.03-.514.578-1.058.323-.316.626-.662.685-.761.098-.188.088-.188-.411-.02-.832.296-.95.257-.539-.188.304-.316.666-.89.666-1.058 0-.03-.147.02-.313.109-.177.099-.568.247-.862.336l-.529.168-.48-.326c-.264-.178-.636-.376-.832-.435-.5-.138-1.263-.119-1.714.04-1.224.444-1.997 1.591-1.91 2.847z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
        }

        &_soc {
            background: url("data:image/svg+xml,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='14' fill='%23F26721'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.592 10.748c3.011.038 4.767 1.886 2.773 4.412-.916 1.164-2.463 2.313-4.528 3.054l-.296.102c-.194.063-.388.122-.577.18a16.442 16.442 0 01-2.613.529c-.301.028-.592.048-.873.053-1.92.048-3.365-.475-3.835-1.6-.567-1.344.582-3.215 2.88-4.64-1.702.688-4.79 2.298-4.921 4.606v.29c.014.233.058.47.136.718.489 1.556 2.801 2.284 5.74 2.022a14.738 14.738 0 002.182-.354c.427-.102.863-.223 1.304-.359.097-.034.194-.063.291-.097.199-.063.393-.131.582-.203 2.55-.926 4.441-2.158 5.547-3.574.63-.81.955-1.566 1.018-2.23v-.51c-.175-1.682-2.138-2.671-4.81-2.399zm-1.954-.834a.87.87 0 00.199-.024c.427-.107.635-.563.654-1.101.02-.572-.183-1.047-.654-1.115-.039-.01-.082-.01-.126-.01-.374 0-.616.223-.747.553-.063.17-.101.364-.106.572-.01.247.024.48.106.67.122.275.34.455.674.455zm-.01.19c-.189 0-.349.018-.49.052l.04.053.072.132.058.135.049.14.034.146.024.146.015.15.005.145v.155l-.01.15-.01.151-.02.15-.019.15-.029.151-.029.15-.029.146-.034.146-.03.14-.033.136-.034.13-.034.127-.029.121-.03.117-.013.072-.02.083-.02.087-.014.092-.02.097-.014.082v.02l-.02.106-.019.107-.014.111-.02.117-.014.116-.02.117-.014.12-.02.117-.014.121-.014.121-.015.122v.005l.068.814c.014.194.053.335.116.427.092.14.242.189.456.209.18-.02.315-.054.417-.15.097-.093.155-.243.194-.486.077-.5.3-2.138.494-2.841.277-1.013.941-2.856-.688-2.996-.068-.01-.136-.01-.208-.01zm-1.978-.52h.01c.63-.005.926-.582.926-1.29 0-.707-.296-1.29-.926-1.294h-.01c-.64 0-.935.582-.935 1.294 0 .713.295 1.29.935 1.29zm-1.3 2.992c.06.247.117.474.165.678.2.81.393 2.691.466 3.259.068.572.272.693.68.732.401-.039.605-.16.673-.732.068-.568.267-2.449.46-3.259.049-.204.112-.43.17-.678.18-.742.325-1.615 0-2.178-.208-.358-.606-.596-1.304-.596-.703 0-1.106.238-1.31.597-.324.562-.179 1.435 0 2.177zm-.872-2.686a.874.874 0 00.199.024c.335 0 .553-.18.674-.456.077-.189.111-.422.106-.67a1.9 1.9 0 00-.106-.571c-.131-.33-.379-.553-.747-.553-.044 0-.087 0-.126.01-.47.068-.674.543-.655 1.115.015.538.229.994.655 1.1zm-.194 6.06c.034.243.097.393.194.485.102.097.238.13.417.15.213-.02.359-.068.456-.208.058-.092.097-.233.116-.427l.068-.81v-.01l-.015-.12-.014-.122-.02-.121-.014-.116-.014-.121-.02-.117-.014-.116-.02-.117-.02-.111-.014-.107-.02-.107v-.014l-.014-.087-.02-.097-.018-.092-.015-.087-.02-.083-.02-.072-.023-.117-.034-.121-.03-.126-.033-.131-.034-.136-.034-.14-.029-.146-.034-.146-.03-.15-.024-.15-.019-.15-.02-.15-.014-.151-.005-.155v-.15l.005-.146.015-.15.024-.146.034-.145.044-.141.063-.135.073-.132.038-.053a2.097 2.097 0 00-.49-.053c-.072 0-.14 0-.208.01-1.629.14-.965 1.983-.688 2.996.194.703.416 2.342.494 2.841z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
        }
    }
}

@media (max-width: 767px) {
    .social-block {
        justify-content: center;
        margin-bottom: 30px;
    }
}
