extends layout/main-profile-message

block title
    | Title

block content
    include modules/about
    include modules/why-block
    include modules/our-works
    include modules/our-values
    include modules/stats
    include modules/reviews
    
    .container__ins
        .container__wrap
            .container__column.container__column_50
                include modules/our-team
            .container__column.container__column_50
                include modules/contacts
        
